@{
    ViewData["Title"] = "Home Page";
}

<div class="homeDiv">
    <h1> TP02 - SWII6</h1>
    <br />
    <br />
    <p>Trabalho Pratico 02, da matéria Sistemas Web 2.</p>
    <p>TP desenvolvido por:</p>
    <ul>
        <li>Uerriton José Eloy da Silva</li>
        <li>Lucas Marques de Oliveira Santos</li>
    </ul>
</div>